body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #a2d2ff, #ffc8dd, #fde2e4, #cdb4db, #084172);
    background-attachment: fixed;
    background: url("../imagens/sorvetes.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: #8c7b88;
}

header {
    background: #da68bc;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 10px;     
}

nav button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

nav button.active {
    background: #5d2d5e;
    color: rgb(234, 216, 216);
}

main {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.card {
    background-color: rgba(153, 131, 150, 0.9); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 20px auto;
}

.card h2 {
    margin-top: 0;
}

form label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

form input, form select, form textarea, form button {
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
   background: #da68bc;
    color: rgb(227, 227, 227);
    border: none;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}

form button:hover {
    background: #5d2d5e;
}

#mensagem {
    margin-top: 10px;
    font-weight: bold;
    color: green;
}

.tela {
    display: none;
}

.tela.active {
    display: block;
}

#listaPedidos {
    list-style: none;
    padding: 0;
}

#listaPedidos li {
    background: #f8f8f8;
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e4d0d0;
}
